.sho-admin-overlay
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    pointer-events: none
    background-color: transparent
    transition: background-color 100ms

    &.sho-admin-overlay-active
        z-index: 99999
        pointer-events: visible
        background-color: rgba(0,0,0,.5)

.sho-admin-modal
    width: 70%
    height: 80vh
    position: fixed
    z-index: 100000
    @include center
    background: $color-modal
    overflow-y: scroll
    color: $color-font
    padding: 2em
    box-shadow: $shadow
    font-size: 1.3em
    transition: transform 300ms
    transform: translate(-50%, -200%)

    &.sho-admin-modal-active
        transform: translate(-50%, -50%)